{% extends "base.html" %}

{% block title %} Books {% endblock %}
{% block isactive_books %} class="active" {% endblock %}
{% block welcome_user %} {% if welcome_user %} {{ welcome_user }} {% endif %} {% endblock %}


{% block content %}
<form action="/books/add" method="get">
    <button class="btn success" >Add a new book</button>
</form>
   <h3>List of books:</h3>
   <table class="table">
   	    <tr>
   		    <th>#</th>
   		    <th>Title</th>
   		    <th>Author</th>
   		    <th>Year</th>
   		    <th>Description</th>
          <th></th>
   	    </tr>
        {% for book in books %}
	        <tr>
	            <td>{{ loop.index0 + 1 }}</td>
	            <td>{{ book.title }}</td>
	            <td>{{ book.author }}</td>
	            <td>{{ book.year }}</td>
	            <td>{{ book.description }}</td>
              <td><a href="{{ url_for('books.update_book', id=book.id) }}">Update</a>|<a href="{{ url_for('books.delete_book', id=book.id) }}">Delete</a></td>
	        </tr>
        {% endfor %}
    </table>
{% endblock %}