{% extends "base.html" %}

{% block title %} Delete book {% endblock %}
{% block welcome_user %} {% if welcome_user %} {{ welcome_user }} {% endif %} {% endblock %}


{% block content %}
<div class="container h-100">
    <div class="justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
			<h3>Are you sure you want to delete "{{ book.title }}" by {{ book.author }}?</h3><br><br>
			
			<a href="{{ url_for('books.delete_book', answer='yes', id=book.id) }}" class="btn success" >Yes</a>
			<a href="{{ url_for('books.delete_book', answer='cancel', id=book.id) }}" class="btn warning" >Cancel</a>
		</div>
	</div>
</div>
{% endblock %}