{% extends "base.html" %}

{% block title %} Registration {% endblock %}
{% block isactive_registration %} class="active" {% endblock %}
{% block welcome_user %} {% if welcome_user %} {{ welcome_user }} {% endif %} {% endblock %}


{% block content %}
<div class="container h-100">
    <div class="justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
			<form id="addbook" action="/books/add" method="POST">
			    <h1>Update book:</h1>
			    <input name="id" type="hidden" value="{{ book.id }}">
			    <input name="title" type="title" value="{{ book.title }}" required=""><br>
			    <input type="author" value="{{ book.author }}" required="" name="author"><br>
			    <input type="year" value="{{ book.year }}" required="" name="year"><br>
			    <input type="description" value="{{ book.description }}" required="" name="description"><br><br>                  
			    <button type="submit">Update book</button>  
			</form>
		</div>
	</div>
</div>
{% endblock %}