{% extends "base.html" %}

{% block title %} Users {% endblock %}


{% block content %}
   <h1> Admin access </h1>
   <h3>List or users:</h3>
   <table class="table">
   	    <tr>
   		    <th>#</th>
   		    <th>Email</th>
   		    <th>Date of Registraton</th>
   	    </tr>
        {% for user in data %}
	        <tr>
	            <td>{{ loop.index0 + 1 }}</td>
	            <td>{{ user.email }}</td>
	            <td>{{ user.date_of_registration }}</td>
	        </tr>
        {% endfor %}
    </table>
{% endblock %}
